<?xml version="1.0" encoding="UTF-8"?>
<song>
  <title>Springs of Living Water</title>
  <author></author>
  <copyright></copyright>
  <presentation>V1 C V2 C V3 C</presentation>
  <ccli></ccli>
  <capo print="false"></capo>
  <key></key>
  <aka>160, 1234</aka>
  <key_line></key_line>
  <user1></user1>
  <user2></user2>
  <user3></user3>
  <theme></theme>
  <tempo></tempo>
  <time_sig></time_sig>
  <lyrics>[V1]
.  G                               D7
 I thirsted in the barren land of Babylon
.                               G
 And nothing satisfying there I found;
.                                    D7
 But to the blessed local church one day I came,
.                                  G   C   G
 Where springs of living water do abound.

[C]
.D7                                G
 Drinking at the springs of living water,
.D7
 Happy now am I,
.   G          C    G
 My heart they satisfy;
.D7                                G
 Drinking at the springs of living water,
.  C             D7           G-C-G
 O wonderful and bountiful supply!

[V2]
 How sweet the living water from the hills of God,
 It’s flowing in and flowing out of me;
 O now I’ve found the peace for which I long had sought,
 Where there is life and life abundantly.

[V3]
 O brother, won’t you gather in the local church?
 A fountain here is flowing deep and wide.
 The Shepherd now would bring you to the local church,
 Where thirsty spirits can be satisfied.
</lyrics></song>